{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 text-success">Welcome to the LOTR Wiki</h1>
        <p style="color: #ffffff;">Discover the rich world of Middle-earth, its characters, and its stories.</p>
    </div>

    <div class="row mt-4">
        <!-- Book Card -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="https://cdn.dribbble.com/users/8456088/screenshots/15991741/fronts_4x.jpg" class="card-img-top" alt="The Fellowship of the Ring">
                <div class="card-body">
                    <h5 class="card-title">Books</h5>
                    <p class="card-text">The Lord of the Rings series is a high-fantasy epic written by J.R.R. Tolkien. Learn more about them here.</p>
                    <a href="#" class="btn btn-success">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Movie Card -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="https://www.slashfilm.com/img/gallery/cool-stuff-new-lord-of-the-rings-poster-brings-the-weary-journey-of-fellowship-of-the-ring-to-life/l-intro-1652367808.jpg" class="card-img-top" alt="The Lord of the Rings Movie">
                <div class="card-body">
                    <h5 class="card-title">Movies</h5>
                    <p class="card-text">The movie trilogy based on J.R.R. Tolkien's "The Lord of the Rings", directed by Peter Jackson. Learn more about them here.</p>
                    <a href="#" class="btn btn-danger">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Character Card -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a4637adf-84a6-4eba-8020-71e9a0452e82/dd8teqf-d254ef02-2657-4843-b8c1-7dd87d7276fb.png/v1/fill/w_1192,h_670,q_70,strp/top_10_best_lord_of_the_rings_characters_by_herocollector16_dd8teqf-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvYTQ2MzdhZGYtODRhNi00ZWJhLTgwMjAtNzFlOWEwNDUyZTgyXC9kZDh0ZXFmLWQyNTRlZjAyLTI2NTctNDg0My1iOGMxLTdkZDg3ZDcyNzZmYi5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.IRM95rxPMdQXeprdz6rw1pSlsVzJbNnEJJANvzxswfo" class="card-img-top" alt="Gandalf">
                <div class="card-body">
                    <h5 class="card-title">Characters</h5>
                    <p class="card-text">Dive deeper into the fascinating and richly detailed characters created by Tolkien, and explore their stories and journeys here.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Quote Card -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="https://www.storypick.com/wp-content/uploads/2016/12/lotr-cover.jpg" class="card-img-top" alt="Quote">
                <div class="card-body">
                    <h5 class="card-title">Quotes</h5>
                    <p class="card-text">Check out the legendary quotes here.</p>
                    <a href="#" class="btn btn-warning">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Chapter Card -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="https://platform.polygon.com/wp-content/uploads/sites/2/chorus/uploads/chorus_asset/file/23985969/6_eu5kv9gd5wq8eiog5qjevre53wq0xm24.jpeg?w=1200" class="card-img-top" alt="The Breaking of the Fellowship">
                <div class="card-body">
                    <h5 class="card-title">Chapters</h5>
                    <p class="card-text">Explore all the chapters of the books here.</p>
                    <a href="#" class="btn btn-info">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




